
section.login { 
	position: fixed; padding: 10vh 10vw; top: 0; bottom: 0; left: 0; right: 0; text-align: center; 
	overflow: auto; background: var(--background);
}
section.login > form { 
	width: 400px; padding: 64px 32px; padding-top: 150px;
	position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);
	background: url(../img/logo.png) no-repeat;
	background-size: auto 100px;
	background-position: center 50px;
}

section.login input { 
	display: block; width: 100%; border: 0; background: #cccccc30; 
	padding: 8px; margin: 16px 0; font-size: 16px; vertical-align: middle; font-weight: 300;
	border-bottom: 2px solid rgba(255,255,255,0.12);
	box-sizing: border-box;
	border-bottom-color: var(--text);
	color: var(--text);
}
section.login input:focus, section.login input:not(:empty) { border-bottom-color: var(--accent); }
section.login #login_remember { padding: 8px; margin: 16px 0; font-size: 16px; font-weight: 300; cursor: pointer; }
section.login #login_remember::before { content: '\e14c'; font-family: icon !important; font-feature-settings: "liga" 1; font-size: 1em; vertical-align: -0.18em; display: inline-block; margin-right: 16px; }
section.login #login_remember.selected::before { content: '\e5ca'; color: #00C853; }

section.login .back { display: block; color: var(--accent); cursor: pointer; opacity: 0.7; }
section.login .back::before { content: '\e5c4'; font-family: icon !important; font-feature-settings: "liga" 1; font-size: 0.8em; vertical-align: -0.05em; display: inline-block; margin-right: 5px; }
section.login .back:hover { opacity: 1; }

section.login button.raised { display: block; width: 100%; margin: 20px 0; }