
body > div.modal {
	position: fixed;
	background-color: #747caa20; backdrop-filter: blur(3px);
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 999;
}

body > div.modal > div {
	background-color: var(--background);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	color: var(--text);
	font-size: 1rem;
	left: 50%;
	line-height: 1.5rem;
	padding: 2.5rem;
	position: absolute;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	min-width: 30rem;
	max-height: 95vh;
	max-width: 95vw;
	overflow-y: auto;
}
body > div.modal.promptable button { float: right; margin-bottom: 0; margin-left: 1rem; width: auto; }
body > div.modal.promptable option { color: #000; }
body > div.modal.promptable input, body > div.modal.promptable select, body > div.modal.promptable :not(code-input) > textarea { 
	clear: both; width: 100%; margin: 1rem 0; padding: 0.8rem;
	background-color: transparent; border-bottom: 2px solid var(--text); color: var(--text);
}
body > div.modal.promptable input:focus, body > div.modal.promptable select:focus, body > div.modal.promptable :not(code-input) > textarea:focus { 
	border-bottom-color: var(--accent);
	}
body > div.modal.promptable :not(code-input) > textarea { min-height: 7rem; }
body > div.modal.promptable fieldset { margin: 0; padding: 0; border: 0; }
body > div.modal.promptable fieldset input[type='checkbox'],
body > div.modal.promptable fieldset input[type='radio'] { width: auto; margin: 0.8rem; vertical-align: middle; }

body > div.modal > div > aside.close {
	font-family: Arial, sans-serif; color: var(--text); font-size: 1.5rem; line-height: 0.8rem;
	display: block; position: absolute; top: 1rem; right: 1rem;
	cursor: pointer;
}

div.modal h1 { font-size: 1.5rem; text-align: left; font-weight: 300; margin: 0 0 1rem 0; padding: 0; color: var(--accent); }
div.modal h2 { font-size: 1.5rem; text-align: left; font-weight: 300; margin: 0 0 1rem 0; padding: 0; color: var(--accent); }
div.modal hr { width: 80%; margin: 0.8rem auto 2rem auto; height: 0; border: 0; border-top: 1px solid #aaa; }
