
.tab > div { margin: 0; }
.tab > div:first-of-type { 
	overflow: hidden; text-align: left; white-space: nowrap; position: relative;
	flex-direction: row; display: flex; flex-wrap: nowrap; justify-content: flex-start; align-items: stretch; 
}
.tab > div:first-of-type:after { 
	display: inline-block; border-bottom: 1px solid #666a; content: ""; 
	vertical-align: bottom; flex-grow: 1; min-width: 0;
}
.tab > div:first-of-type > span
{
	font-size: 0.9rem;
	padding: 0.5rem 1rem;
	color: #4b4b4b;
	border-bottom: 1px solid #666a;
	text-transform: uppercase;
	display: inline-block;
	cursor: pointer;
	flex-grow: 0;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: 2.5rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-weight: 300;
}
.tab > div:first-of-type > span:hover { color: var(--accent); } 
.tab > div:last-of-type 
{
	padding: 1rem; position: relative; background-color: #fff1;
}
.tab[data-tab="1"] > div:first-of-type > :nth-child(1),
.tab[data-tab="2"] > div:first-of-type > :nth-child(2),
.tab[data-tab="3"] > div:first-of-type > :nth-child(3),
.tab[data-tab="4"] > div:first-of-type > :nth-child(4),
.tab[data-tab="5"] > div:first-of-type > :nth-child(5),
.tab[data-tab="6"] > div:first-of-type > :nth-child(6),
.tab[data-tab="7"] > div:first-of-type > :nth-child(7),
.tab[data-tab="8"] > div:first-of-type > :nth-child(8),
.tab[data-tab="9"] > div:first-of-type > :nth-child(9),
.tab[data-tab="10"] > div:first-of-type > :nth-child(10) { 
	border-bottom: 2px solid var(--accent); 
	padding-bottom: 0.5rem;
	color: var(--accent); font-weight: 400;
}
.tab[data-tab="1"] > div:last-of-type > :not(:nth-child(1)),
.tab[data-tab="2"] > div:last-of-type > :not(:nth-child(2)),
.tab[data-tab="3"] > div:last-of-type > :not(:nth-child(3)),
.tab[data-tab="4"] > div:last-of-type > :not(:nth-child(4)),
.tab[data-tab="5"] > div:last-of-type > :not(:nth-child(5)),
.tab[data-tab="6"] > div:last-of-type > :not(:nth-child(6)),
.tab[data-tab="7"] > div:last-of-type > :not(:nth-child(7)),
.tab[data-tab="8"] > div:last-of-type > :not(:nth-child(8)),
.tab[data-tab="9"] > div:last-of-type > :not(:nth-child(9)),
.tab[data-tab="10"] > div:last-of-type > :not(:nth-child(10)) { display: none; }
